@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Quicksand:wght@300..700&family=Racing+Sans+One&family=Zeyada&display=swap');


:root {
    --primary: #d13737;
    --secondary: #e5a0a0;
    --tertiary: #bcbcbc;
    --background: #09090a;

    --primary-st: #d137377a;
    --secondary-st: #e5a0a07a;
    --tertiary-st: #bcbcbc7a;
    --background-st: #09090a7a;

    
    --font: #FBFADA;
    --font-inv: #09090a;

    --texture-background: url("https://www.transparenttextures.com/patterns/flowers.png");
}

* {
    box-sizing: border-box;
    /* padding: 5px;
    border: 1px dotted red; */
}


body {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: var(--background);
    background-image: var(--texture-background);
    color: var(--font);
}

body div {
    display: flex;
}

.navigation {
    justify-content: center;
    background-color: var(--background);
    padding: 10px;
}

.hamburger {
    align-self: center;
    border: 2px solid var(--tertiary);
    padding: 2px;
    border-radius: 5px;
    flex-direction: column;
    transition: 0.1s;
}

.hamburger:hover {
    cursor: pointer;
    box-shadow: 0 0 10px #ffffff7a, 0 0 10px #ffffff7a inset;
}

.hamburger-component {
    height: 1px;
    display: flex;
    background-color: var(--tertiary);
    width: 20px;
    border-radius: 50px;
    border: 1px solid var(--tertiary);
    margin: 2px 0 2px 0;
}

.logo {
    margin: auto;
    justify-content: center;
    justify-self: center;
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

.pseudo-hamburger {
    width: 26px;
    height: 100%;
    justify-self: flex-end;
}

.main:first-of-type {
    margin-top: 0;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 15px;
    backdrop-filter: blur(5px);
    /* margin: 20px 0 20px 0; */
}

.main-heading {
    justify-content: center;
    font-size: 20px;
}

.mini-heading {
    font-size: 16px;
    text-transform: uppercase;
    margin: 5px 0 5px 0;
    width: 100%;
    border-bottom: 1px solid gray;
}

.main-link {
    width: 100%;
    padding: 10px;
    color: var(--font);
    text-decoration: none;
    border: 2px solid var(--tertiary);
    border-radius: 5px;
    transition: 0.2s;
    margin: 5px 0;
}

.main-link:hover {
    background-color: var(--tertiary);
    color: var(--background);
}

.main-img {
    flex-direction: column;
}

.img-phone-bg {
    flex-direction: column;
    background-image: url("/cdn/layer-phone-3d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* border: 2px dotted red; */
    min-height: 500px;
    overflow: hidden;
}

.mascot-approval {
    /* border: 2px dotted yellow; */
    margin: auto auto 0 auto;
    width: 70%;
}

.subtitle {
    text-align: center;
    align-self: center;
    flex-direction: column;
    width: 100%;
    margin: 100px auto auto auto;
    backdrop-filter: blur(2px);
    padding: 5px;
}